.App {
  text-align: center;
  margin: auto;
}

img {
  height: 100px;
}

.title {
  color: #202076;
  font-size: 50px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: bisque;
}
.headPara {
  font-size: 18px;
  font-weight: bold;
}
.search {
  background-color: #2c27278e;
  width: 90%;
  margin: auto;
}
.search1 {
  width: 90%;
  margin: auto;
}
.resultCard {
  width: 200px;
  height: 300px;
  float: left;
  margin: 10px;
  background-color: black;
  overflow-y: auto;
}
.addFavButton {
  position: relative;
}
.cardText {
  font-size: 14px;
}
.cardImage {
  width: 100px;
  height: 100px;
  float: left;
}
.countryData {
  column-span: all;
}
.tableHead {
  column-span: 7;
}
.inputClass {
  width: 300px;
}
